/*Fibonacci container styles*/
.fibo-container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 384px;
  min-height: 136px;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  padding: 16px;
  margin: 0 auto;
  margin-top: 64px;
}

.fibo-container-title {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.fibo-container-buttons {
  text-align: center;
  width: 100%;
  height: 32px;
}

.fibo-container-input {
  width: 96px;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid gray;
  float: left;
  margin-right: 16px;
  margin-left: 68px;
}

.fibo-container-submit {
  width: auto;
  border-radius: 4px;
  border: 1px solid gray;
  font-size: 24px;
  float: left;
}

.fibo-container-result {
  text-align: center;
  font-size: 20px;
  margin-bottom: 16px;
}

.fibo-container-result span {
  font-size: 24px;
  font-weight: 600;
}